argparse~=1.4.0
tweepy~=4.12.1
emails~=0.6
numpy~=1.22.1
requests~=2.28.1
bs4~=0.0.1
beautifulsoup4~=4.6.3
colorama~=0.4.4
sniffer~=0.4.1
networkx~=2.8.8
pinject~=0.14.1
IP2Proxy~=3.4.0
oauthlib~=3.2.2
scapy~=2.4.5
termcolor~=1.1.0
tk~=0.1.0
PyQRCode~=1.2.1
domain~=0.1.4
replace~=2020.12.3
boto~=2.49.0
proxylist~=0.1.4
setuptools~=65.6.3
Django~=4.1.4
future~=0.18.2
urllib3~=1.26.13
username~=2.1.0
decorator~=5.1.1
django~=4.1.4
